/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.pafl-overlay  #login form .form-links a{
	font-size:17px;
}

.pafl-overlay  #login form .form-links a.forgot-password{
	float: left;
}

.pafl-overlay  #login form .form-links a.create-account{
	float: right;
}
