/* Overlay style */
.pafl-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #99cc33;
}

/* Overlay closing cross */
.pafl-overlay .pafl-overlay-close {
	width: 80px;
	height: 80px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */
.pafl-overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.pafl-overlay ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	height: 100%;
	position: relative;
}

.pafl-overlay ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 54px;
}

/* Effects */
body {
	background: #ddd;
}

.container {
	background: #fff;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.container.pafl-overlay-open {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.pafl-overlay-contentscale {
	visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
	transition: transform 0.5s, visibility 0s 0.5s;
}

.pafl-overlay-contentscale.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

@media screen and (max-height: 30.5em) {
	.pafl-overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.pafl-overlay ul li {
		min-height: 34px;
	}
}