/* Effects */
.pafl-overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.pafl-overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}

.pafl-overlay-door nav {
	position: absolute;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.pafl-overlay-door nav,
.pafl-overlay-door .pafl-overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.pafl-overlay-door.open nav,
.pafl-overlay-door.open .pafl-overlay-close {
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.pafl-overlay-door.close nav,
.pafl-overlay-door.close .pafl-overlay-close {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}