/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.pafl-overlay {
  overflow: auto;
}
.pafl-overlay  form .form-links a{
  font-size:17px;
}

.pafl-overlay nav{
  height:80%;
}
.pafl-overlay  #login form .form-links a.forgot-password,.pafl-overlay  #register form .form-links a.btn-login{
  float: left;
}

.pafl-overlay  #login form .form-links a.create-account,.pafl-overlay  #register form .form-links a.forgot-password{
  float: right;
}
.pafl-overlay  #forgot form .form-links a.btn-login{
  text-align: center;
}
.section-container {
  max-width: 500px;
  margin: 0 auto;
}